@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
  font-family: "Rubik", sans-serif;
}
.main-text2{
  color: rgb(43, 88, 0);
}
.text-900{
  font-weight: 900 !important;
}

.about-conatiner{
  background: linear-gradient(45deg, #36be00, #fff, #fcfcfc);
}